
body{
    background-color:greenyellow;
    padding: 5%;
    color:rgb(0, 0, 0)
}

main{
    background-color: purple;
    color:ghostwhite;
    padding: 5%;
    
}

header{
    background-color: rgb(202, 202, 117);
    color:blue;
    padding: 5%;
}

footer{
    background-color: black;
    color: chocolate;
    padding: 5%;
}

nav{ 
    background-color: grey;
    color: crimson;
    padding: 5%;
}

.funkyColour{

    background-color: blueviolet;
}

.coolColour{
background-color: aquamarine;

}

.botton{
background-color: aqua;

}


/*make li weird rotate degree*/
li:hover {
    transform: rotate(300deg);
 

}

li {
    transition: transform 10s; /* apply smooth transition to the element */
}